<ion-view view-title="Apply">
    <ion-content has-header="true" padding="true">

<style>
h1 {
    text-align: center;
}

h2 {
    text-align: left;
}

h3 {
    text-align: center;
}

h4 {
    text-align: center;
}
</style>

    <h1>About Zaba</h1>

<h3>We are here to help you</h3>

<h4>Zaba Financiera is an online financial platform serving all of Mexico. We are Mexico's #1 trusted and affordable source of capital and financial information</h4>


<h3>Contact Us</h3>

  <a class="item item-icon-left">
    <i class="icon ion-email"></i>
  info@zabacapital.com
  </a>

  <a class="item item-icon-left">
    <i class="icon ion-ios-telephone"></i>
  +55 8421 9855
  </a>

<!--- button that sends you to the next application screen-->
<button class="button button-large button-full button-balanced" ui-sref="apply">
  Apply for a Loan
</button>

  </ion-content>
</ion-view>
