<ion-view view-title="Apply">
    <ion-content has-header="true" padding="true">

<style>
h1 {
    text-align: center;
}

h2 {
    text-align: left;
}

h3 {
    text-align: center;
}

h4 {
    text-align: center;
}
</style>

    <h1>Business Information</h1>

<h3>Please tell us about yourself</h3>

<div class="list">

  <a class="item item-icon-left">
    <i class="icon ion-person-add"></i>
  <label class="item item-input">
    <input type="text" placeholder="Nombre">
  </label>
  </a>

  <a class="item item-icon-left">
    <i class="icon ion-person"></i>
  <label class="item item-input">
    <input type="text" placeholder="Apellidos">
  </label>
  </a>

  <a class="item item-icon-left">
    <i class="icon ion-ios-telephone-outline"></i>
  <label class="item item-input">
    <input type="tel" placeholder="Celular">
  </label>
  </a>

  <a class="item item-icon-left">
    <i class="icon ion-email"></i>
  <label class="item item-input">
    <input type="email" placeholder="Email">
  </label>
  </a>

  <a class="item item-icon-left">
    <i class="icon ion-calendar"></i>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Date of Birth</span>
    <input type="date">
  </label>
  </a>

  <a class="item item-icon-left">
    <i class="icon ion-briefcase"></i>
  <label class="item item-input">
    <input type="text" placeholder="Business Name">
  </label>
  </a>

  <a class="item item-icon-left">
    <i class="icon ion-location"></i>
  <label class="item item-input">
    <input type="text" placeholder="Business Address">
  </label>
  </a>

  <a class="item item-icon-left">
    <i class="icon ion-social-usd"></i>
  <label class="item item-input">
    <input type="tel" placeholder="Monthly Income (Pesos)">
  </label>
  </a>

  <label class="item item-input">
    <textarea placeholder="Business Description"></textarea>
  </label>

  <label class="item item-input">
    <textarea placeholder="Why you need a loan"></textarea>
  </label>

</div>


<!--- button that sends you to the next application screen-->
<button class="button button-large button-full button-balanced" ui-sref="done">
  You're Finished
</button>

  </ion-content>
</ion-view>