<ion-view view-title="Apply">
    <ion-content has-header="true" padding="true">

<style>
h1 {
    text-align: center;
}

h2 {
    text-align: left;
}

h3 {
    text-align: center;
}

h4 {
    text-align: left;
}
</style>

<br>
    <h1>Thank you!</h1>

<h3>Your application is being processed</h3>
<h4>We have an extensive waitlist for loans, but we will be in touch with you as soon as possible to notify you of your position on the waitlist.<h4>
<br>
<!-- <h4>Your information:</h4>
<br>

<div class="list">

    <a class="item item-icon-left">
    <i class="icon ion-social-usd-outline"></i>
 MXN ${{Loan Amount Requested}} requested
  </a>

  <a class="item item-icon-left" href="#">
    <i class="icon ion-person-add"></i> 
{{Nombre}} {{Apellidos}}
  </a>

  <a class="item item-icon-left">
    <i class="icon ion-ios-telephone-outline"></i>
  {{Celular}}
  </a>

  <a class="item item-icon-left">
    <i class="icon ion-email"></i>
  {{Email}}
  </a>

  <a class="item item-icon-left">
    <i class="icon ion-calendar"></i>
 {{Date of Birth}}
  </a>

  <a class="item item-icon-left">
    <i class="icon ion-briefcase"></i>
 {{Business Name}}
  </a>

  <a class="item item-icon-left">
    <i class="icon ion-location"></i>
  {{Business Address}}
  </a>

  <a class="item item-icon-left">
    <i class="icon ion-social-usd"></i>
  {{Monthly Income}} monthly income
  </a>

  <a class="item">
  {{Business Description}}
  </a>

    <a class="item">
  {{Why you need a loan}}
  </a> -->

</div>

<!--- button that sends you to the About screen-->
<button class="button button-large button-full button-balanced" ui-sref="about">
  About Zaba
</button>

  </ion-content>
</ion-view>
